<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div ng-controller="navController" ng-cloak="" class="navBardemoBasicUsage" ng-app="MyApp">
  <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem"
              nav-bar-aria-label="navigation links">
    <md-nav-item ng-repeat="item in navItems" md-nav-click="goto(item.value)" name="{{item.value}}">
      <md-icon md-font-icon="material-icons">{{item.icon}}</md-icon>{{item.label}}
    </md-nav-item>
  </md-nav-bar>
</div>

<!-- retrieve hotel info when load -->
<div data-ng-init="initHotelInfo()"></div>

<div ng-controller="reservationController">
  <table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="hotelName">Hotel Name</th>
      <th>Brand Name</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in hotels" ng-click="hotelDetail(row)">
      <td>{{row.branch_name}}</td>
      <td>{{row.brand_name}}</td>
      <td>{{row.property_class}}</td>
    </tr>
    </tbody>
  </table>
</div>

<!--
Copyright 2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
<script type="text/ng-template" id="makeReservation.tmpl.html"><md-dialog aria-label="Hotel Detail" class="fullScreenDialog">
<form ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{hotelInfo.branch_name}}</h2>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <div id="hotelInfo">
        {{hotelInfo}}
      </div>

      <md-chips ng-model="tags" readonly="true"></md-chips>

      <div layout-gt-sm="row">
        <md-radio-group ng-model="roomSelected">
          <md-radio-button ng-repeat="room in roomType" ng-value="room">{{room}}</md-radio-button>
        </md-radio-group>

        <table>
          <tr ng-repeat="coupon in coupons">
            <td>
              <md-checkbox ng-checked="exists(coupon, selected)" ng-click="toggle(coupon, selected)">
                {{coupon}}
              </md-checkbox>
            </td>
          </tr>
        </table>
      </div>

      <!--<div flex-gt-xs="">-->
        <!--<h4>Start date</h4>-->
        <!--<md-datepicker ng-model="startDate" md-placeholder="Enter date"></md-datepicker>-->
      <!--</div>-->
      <!--<div flex-gt-xs="">-->
        <!--<h4>End date</h4>-->
        <!--<md-datepicker ng-model="endDate" md-placeholder="Enter date"></md-datepicker>-->
      <!--</div>-->
    </div>

  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="makeReservation()">
      Make A Reservation
    </md-button>
    <md-button ng-click="cancel()">
      Back
    </md-button>
  </md-dialog-actions>
</form>
</md-dialog>
</script>

</body>
</html>
