<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation</title>
</head>
<body>

<div ng-controller="navController" ng-cloak="" class="navBardemoBasicUsage" ng-app="MyApp">
  <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem"
              nav-bar-aria-label="navigation links">
    <md-nav-item ng-repeat="item in navItems" md-nav-click="goto(item.value)" name="{{item.value}}">
      <md-icon md-font-icon="material-icons">{{item.icon}}</md-icon>{{item.label}}
    </md-nav-item>
  </md-nav-bar>
</div>

<!-- retrieve hotel info when load -->
<div data-ng-init="initHotelInfo()"></div>

<div ng-controller="reservationController">
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
    <b> Hotelify has found {{hotels.length}} hotels that perfectly match your requirement!</b>
    <button ng-click="backToQuickBook()" class="btn btn-primary">Back</button>
  </md-content>

  <table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="hotelName">Hotel Name</th>
      <th>Brand Name</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in hotels" ng-click="hotelDetail(row)">
      <td>{{row.branch_name}}</td>
      <td>{{row.brand_name}}</td>
      <td>{{row.address}}</td>
    </tr>
    </tbody>
  </table>
</div>

<!--
Copyright 2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
<script type="text/ng-template" id="makeReservation.tmpl.html"><md-dialog aria-label="Hotel Detail" class="fullScreenDialog">
<div data-ng-init="initRoomInfo()"></div>
<form ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{hotelInfo.brand_name}} {{hotelInfo.branch_name}} | {{checkin_date | date:shortDate}} - {{checkout_date | date:shortDate}}</h2>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <div id="hotelInfo">
        <h3><md-icon md-font-icon="material-icons">home</md-icon>{{hotelInfo.brand_name}} - {{hotelInfo.branch_name}}</h3>
        <p><md-icon md-font-icon="material-icons">place</md-icon>{{hotelInfo.address}}</p>
      </div>
      <md-chips ng-model="tags" name="fruitName" readonly="true"
                md-removable="false">
        <md-chip-template>
          <strong>{{$chip.tag_name}}</strong>
          <em>({{$chip.popularity}})</em>
        </md-chip-template>
      </md-chips>

      <img ng-show="url" ng-src="{{url}}" alt="Description" />
      <md-tabs>
        <md-tab label="Available Rooms">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Room type</th>
              <th>Available number</th>
              <th>Occupancy</th>
              <th>Nightly price</th>
              <th>Description</th>
              <th>Added number</th>
              <th>Add to Reservation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="room in roomType">
              <td>{{room.type_name}}</td>
              <td>{{room.count}}</td>
              <td>{{room.occupancy}} people</td>
              <td>${{room.price}}</td>
              <td>{{room.description}}</td>
              <td>{{room.addedCount}}</td>
              <td>
                <md-icon md-font-icon="material-icons" ng-click="addRoom(room)">add</md-icon>
                <md-icon md-font-icon="material-icons" ng-click="removeRoom(room)">remove</md-icon>
              </td>
            </tr>
            </tbody>
          </table>
        </md-tab>
        <md-tab label="Final Reservation Rooms">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Room type</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total Price (x {{nights}} {{nights > 1 ? 'Nights' : 'Night'}})</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="room in selectedRoomTypes">
              <td>{{room.type_name}}</td>
              <td>{{room.addedCount}}</td>
              <td>{{room.price}}</td>
              <td>{{room.price * room.addedCount * nights}}</td>
            </tr>
            </tbody>
          </table>
          Your total price will be ${{calculateTotalPrice()}}, don't forget to use your coupons when you pay!
        </md-tab>
      </md-tabs>
    </div>

  </md-dialog-content>

  <md-dialog-actions layout="row">
    <p id="reservationWarning">Please Select Your Rooms</p>
    <span flex></span>
    <md-button ng-click="makeReservation()">
      Make A Reservation
    </md-button>
    <md-button ng-click="cancel()">
      Back
    </md-button>
  </md-dialog-actions>
</form>
</md-dialog>
</script>

</body>
</html>
