<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<!--navigation bar-->
<div ng-controller="navController" ng-cloak="" class="navBardemoBasicUsage" ng-app="MyApp">
  <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem"
              nav-bar-aria-label="navigation links">
    <md-nav-item ng-repeat="item in navItems" md-nav-click="goto(item.value)" name="{{item.value}}">
      {{item.label}}
    </md-nav-item>
  </md-nav-bar>
</div>

<div class="form-group" layout-gt-sm="row">
  <h2> Search for hotel </h2>
  <input type="text" class="form-control" placeholder="First Name" ng-model="firstName">
</div>

REVIEWS
</body>
</html>
